@model IEnumerable<WebApplication1.Database_Tbl>

@{
    ViewBag.Title = "DatabaseInformation";
}

<div class="jumbotron">
    <h1>Database Dictionary</h1>
</div>

<h2>Database Information</h2><br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th> Name
            <!--@Html.DisplayNameFor(model => model.DB_Name)-->
        </th>
        <th> Description
            <!--@Html.DisplayNameFor(model => model.DB_Description)-->
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DB_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DB_Description)
        </td>
        <td>
            @Html.ActionLink("Edit","", new { dB_ID=item.DB_ID }) |
            @Html.ActionLink("Details", "TableInformation","DB", new { dB_ID=item.DB_ID },null) |
            @Html.ActionLink("Delete", "", new { dB_ID=item.DB_ID })
        </td>
    </tr>
}

</table>
