@model WebApplication1.Models.qlist

<div>
    @{
        ViewBag.Title = "G4S Database Dictionary";
    }
    <p>
        @Html.ActionLink("Create New","Create")
        @using (Html.BeginForm("DatabaseInformation", "Database_Tbl", FormMethod.Get))
        {
            <p>
                <input type="submit" value="filter" />
            </p>
        }
    </p>

    <div>
            <fieldset>
                <legend>Connect to Server</legend>
                @using (Html.BeginForm("Index", "DB", FormMethod.Post))
                {
                        <text><strong>Server Name: </strong></text><br /><br />
                        <div class ="text-info" style="font-size: 12px">
                            Please Select Server or Enter Server Name
                        </div>
                        <div id="cmbbox1">
                            @Html.DropDownList("ServerName", null, new { @class = "form-control" })
                        </div>
                        <text>Alternative :</text>
                            @Html.TextBox("altServerName", null, new { @class = "form-control" })
                        <div id="alternativeServer">
                            @Html.CheckBox("alternative")<text> Check to use this Server</text>
                        </div>
                            @Html.CheckBox("authen")<text> Use SQL Authentication</text><br /><br />
                        <text><strong>User Name:</strong></text>
                        <div id="auth">
                            @Html.TextBox("uName", null, new { @class = "form-control", @placeholder = "Username" })
                        </div>
                        <text><strong>Password:</strong></text>
                        <div id="auth">
                            @Html.Password("pWord", null, new { @class = "form-control", @placeholder = "Password" })
                            @Html.CheckBox("RememberMe") <text>Remember Me</text>
                        </div><br />
                        <div class="form-group">
                             <div class="col-md-offset-2 col-md-10">
                                 <input type="submit" value="Connect" class="btn btn-default" />
                             </div>
    </div>
}
</fieldset>
        </div><br />
</div>



