@model WebApplication1.Models.qlist

@{
    ViewBag.Title = "Search";
}

<h2>Search :</h2><br />

<div id="search">
    <p>
        <fieldset>
            <legend>Search Database Dictionary</legend>
            @using (@Html.BeginForm("search", "DB", FormMethod.Get))
            {
                <label>Search Criteria :</label><br />
                    @Html.RadioButton("searchby", "1")<text> Database </text>
                    @Html.RadioButton("searchby", "2")<text> Table </text>
                    @Html.RadioButton("searchby", "3")<text> Field </text><br />
                <div id="searchtxtbox">
                    @Html.TextBox("search", null, new { placeholder = "Search...", style = "Height:34px;Width:240px;box-shadow: 1px 1px 8px #d9d9d9;padding-left:7px;border-top-left:5px" })
                </div>
                <div id="btnSearch">
                    <button type="submit" class="btn btn-primary" value="search"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            }
        </fieldset>
    </p>
</div>

<table class="table table-striped">
  
   @if (Model.dblist.Count() == 0 & Model.tbllist.Count() == 0 & Model.fldlist.Count() == 0)
   {
       <tr >
           <th colspan="2">
               <img src="~/fonts/alert.png"> Your search criteria return no matched results. Please try again.
           </th>
       </tr>
   }
   else
   {
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
       foreach (var item in Model.dblist)
       {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DB_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DB_Description)
                </td>
            </tr>
        }
        foreach (var item in Model.tbllist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TBL_Name)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.TBL_Description)
                </td>
            </tr>
        }
        foreach (var item in Model.fldlist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Field_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Field_Description)
                </td>
            </tr>
        }
   }
</table>